**Question 7**

Use a tab escape sequence to get the following lines.

**Name     Age Country City**


**Asabeneh 250 Finland Helsinki**

In [11]:
print('Name \t\tAge \tCountry \tCity')
print('Asabeneh \t250 \tFinland \tHelsinki')

Name 		Age 	Country 	City
Asabeneh 	250 	Finland 	Helsinki